<!-- <app-not-found [visible]="!food" notFoundMessage="Product Not Found!"
resetLinkText="Back To Homepage"></app-not-found> -->

<div class="container">
    <img src="https://png.pngitem.com/pimgs/s/219-2190657_transparent-cartoon-pizza-png-pizza-hut-pizza-transparent.png" alt="pizza" />

    <div class="details">
        <div class="header">
            <span class="name">Pizza
            </span>
            <span class="favorite">
                ❤
            </span>
        </div>
        <div class="origins">
            <span>
              Indian Style
            </span>
        </div>
        <div class="cook-time">
            <span>
                Time to cook about <strong>30</strong> minutes
            </span>
        </div>
        <div class="price">
            <span>200</span>
        </div>
        <button (click)="addToCart()">Add To Cart</button>
        <button (click)="buynow()">Buy Now</button>
    </div>

</div>
