
<div class="container">
  <img src="https://png.pngitem.com/pimgs/s/219-2190657_transparent-cartoon-pizza-png-pizza-hut-pizza-transparent.png" alt="food.name" />
</div>
  <div class="details">
      <div class="header">
          <span class="name">
              Pizza
          </span>
          <span class="favorite">
              ❤
          </span>
      </div>
      <div class="rating">
      </div>

      <div class="origins">
          <span>
             30 mins
          </span>
      </div>

      <div class="tags">

      </div>

      <div class="cook-time">
          <span>
              Time to cook about <strong>30</strong> minutes
          </span>
      </div>

      <div class="price">
          <span>200</span>
      </div>

      <button>Add To Cart</button>
      <button style="margin-top: 14px;">Buy Now</button>
  </div>

