<div class="card-container">
    <button [routerLink]="['/product',1]" class="card" rel="noopener">
      <img src= "https://www.kindpng.com/picc/m/106-1066017_stampede-pizza-pizza-ranch-combo-hd-png-download.png" style="width: 60px" >
      <span>Pizza</span> </button>

    <button [routerLink]="['/product',2]" class="card" rel="noopener">
      <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEKb2k46PpDG56hqO4apYF2iQUZpshRtuk1pmdHtZrUmqjQqk3LlPAr5TV2OpgyLTWOLA&usqp=CAU" style="width: 60px" >
      <span>Burger</span>
    </button>

    <button [routerLink]="['/product',3]" class="card" rel="noopener">
      <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWnGlgdLnRINdISZNcwzbgxbsD7RfF1fh3tw&usqp=CAU" style="width: 60px" >
      <span>Sanwitch</span>
    </button>

    <button [routerLink]="['/product',4]" class="card" rel="noopener">
      <img src= "https://www.pngfind.com/pngs/m/12-122858_free-png-download-sweets-s-png-images-background.png" style="width: 60px" >
      <span>Sweets </span>
    </button>

    <button [routerLink]="['/product',5]" class="card" rel="noopener">
      <img src= "https://png.pngtree.com/png-vector/20201229/ourlarge/pngtree-breakfast-snack-mcdonald-s-snack-combo-png-image_2665407.jpg" style="width: 60px" >
      <span>Snacks</span>
    </button>
  </div>
