<
<div class="container">
    <img src="https://www.kindpng.com/picc/m/106-1066017_stampede-pizza-pizza-ranch-combo-hd-png-download.png" />

    <div class="details">
        <div class="header">
            <span class="name"> Pizza
            </span>
            <span class="favorite">
                ❤
            </span>
        </div>
        <div class="rating">
        </div>

        <!-- <div class="origins">
            <span *ngFor="let origin of food.origins">
                {{origin}}
            </span>
        </div> -->

        <!-- <div class="tags">
            <app-tags [foodPageTags]="food.tags" justifyContent="start"></app-tags>
        </div> -->

        <div class="cook-time">
            <span>
                Time to cook about <strong>20 mins</strong> minutes
            </span>
        </div>

        <div class="price">
            <span>49</span>
        </div>

        <!-- <button (click)="addToCart()">Add To Cart</button> -->
    </div>

</div>
>

